@use 'main/main';  
@use 'base/typography';
@use 'helpers/variables';  
@use 'layout/header';
@use 'pages/realizace';
@use 'layout/footer';
@use 'pages/codelame';
@use 'pages/kontakt';

/* hero section */ 

.hero {
    background-image: url(/images/Homepage-image.jpeg);
    color: white;
    min-height: 320px;
}

.hero h1 {
    margin: 0 30px 0 0;;
    padding-top: 40px;
    font-size: 30px;
    text-align: right;
}

.highlight {
    font-weight: 700;
    font-size: 38px;
}

@media (min-width: 640px) {
    .hero h1 {
        margin-right: 60px;
    }
}

@media (min-width: 900px) {
    .hero h1 {
        margin: 0 30px 0 0;
    }

    .hero__inner {
        max-width: 1300px;
        margin-left: auto;
        margin-right: auto;
    }
}


/* section introduction */

.obal-introduction {
    background-color: variables.$stribrna;
}

.introduction h1 {
    margin: 0 20px 20px 20px;
    padding-top: 20px;
    text-align: center;
}

.introduction p {
    text-align: center;
    padding-bottom: 50px;
    margin: 0 50px;
}

.introduction h3 {
    text-align: center;
    margin: 0 60px 20px 60px;
}

.introduction__image {
    width: 350px;
    height: auto;
    margin-left: calc(50% - 175px);
    margin-bottom: -80px;
    border-radius: 15px;
    box-shadow: grey 4px 6px 10px;
}


@media (min-width: 900px) {
    .introduction {
        max-width: 1300px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        padding: 60px 0 60px 0;
    }

    .introduction__image {
        width: 450px;
        height: auto;
        margin: 0;
    }


}

/* section icons */

.ikona {
    max-width: 100px;
    fill: variables.$zelena;
    max-height: 100px;
}

.box {
    box-shadow: lightgrey 4px 6px 10px;
    border-radius: 5%;
    margin-left: auto; 
    margin-right: auto; 
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    max-width: 250px;
}

.ekologicky {
    margin-top: 120px;
}

.box h3 {
    color: variables.$zelena;
}

@media (min-width: 640px) {
    .icons {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .ekologicky {
        margin-top: 20px;
    }

    .ekologicky, .ekonomicky {
        margin-top: 120px;
    }

    .kvalitni, .ekonomicky {
        margin-right: variables.$margin-strany;
        margin-left: 30px;
    }

    .udrzitelna, .ekologicky {
        margin-left:  variables.$margin-strany;
        margin-right: 30px;
    }
}

@media (min-width: 780px) {
    .box {
        max-width: 350px;
    }
}

@media (min-width: 900px) {
    .icons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 1400px;
        margin-left: auto;
        margin-right: auto;
        font-size: 18px;
    }

    .box {
        margin: 50px 15px;
    }
    
    .ekologicky {
        margin-left: variables.$margin-strany;
    }

    .kvalitni {
        margin-right: variables.$margin-strany;
    }
}

/* section specific */

.container-specific__image {
    width: 350px;
    box-shadow: #363636 4px 6px 10px;
    border-radius: 15px;
    margin-left: calc(50% - 175px);
    margin-top: -60px;
}

.container-specific__inner {
    margin-top: 100px;
}

.specific {
    text-align: left;
    padding: 20px 30px;
    color: white;
}

.container-specific {
    background-color: variables.$zelena;
}

.specific h3 {
    margin-left: 38px;
}

@media (min-width: 900px) {
    .container-specific__inner {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .container-specific__image {
        width: 450px;
        margin-left: 0;
        margin-top: calc(50% - 130px);
    }

    .container-specific__inner {
        max-width: 1300px;
        margin-left: auto;
        margin-right: auto;
    }

    .specific {
        padding: 60px 0 60px 30px;
    }
}

