<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/style.css"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&display=swap" rel="stylesheet">

<link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
<link rel="manifest" href="/icons/site.webmanifest">
<link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/icons/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/icons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XW16F6T2M2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XW16F6T2M2');
</script>

</head>
<body>

    <main class="container">

        <header class="header">

            <div class="header__inner">

                <a href="/">

        <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            width="62.5px" height="102.167px" viewBox="0 0 112.5 151.167" enable-background="new 0 0 112.5 151.167" xml:space="preserve" class="logo-projectup">
        <g>
        <g>
            <path fill="#964621" d="M104.283,108.598c-0.237,0-0.469-0.091-0.646-0.26L57.025,62.805l-44.893,45.533
                c-0.265,0.257-0.656,0.336-0.997,0.193c-0.342-0.141-0.563-0.476-0.563-0.847V94.886c0-0.249,0.1-0.484,0.279-0.656l45.411-44.687
                c0.351-0.339,1.134-0.341,1.485-0.008l47.163,43.773c0.185,0.17,0.288,0.414,0.288,0.667v13.71c0,0.371-0.221,0.706-0.562,0.847
                C104.52,108.58,104.402,108.598,104.283,108.598z"/>
            <path fill="#CB7040" d="M22.761,77.21c-0.118,0-0.242-0.024-0.356-0.072c-0.338-0.144-0.558-0.476-0.558-0.844V64.258
                c0-0.243,0.099-0.475,0.269-0.646l34.29-34.439c0.353-0.35,0.978-0.355,1.339-0.014l35.891,33.981
                c0.185,0.172,0.288,0.411,0.288,0.663v12.492c0,0.366-0.22,0.696-0.555,0.841c-0.334,0.145-0.722,0.078-0.987-0.171l-35.36-32.928
                L23.398,76.951C23.225,77.121,22.995,77.21,22.761,77.21z"/>
            <path fill="#BE9577" d="M81.14,46.924c-0.236,0-0.47-0.092-0.646-0.268L57.025,24.101L35.271,46.658
                c-0.262,0.261-0.653,0.339-0.994,0.196c-0.342-0.141-0.562-0.476-0.562-0.843V32.81c0-0.245,0.095-0.481,0.273-0.652l22.472-22.8
                c0.356-0.35,0.788-0.348,1.143,0.006l24.184,23.143c0.174,0.172,0.267,0.404,0.267,0.647v12.858c0,0.37-0.223,0.703-0.565,0.843
                C81.379,46.902,81.26,46.924,81.14,46.924z"/>
            <path fill="#4E2113" d="M96.169,108.598H19.6c-0.372,0-0.702-0.221-0.846-0.562c-0.14-0.343-0.063-0.735,0.199-0.997
                l37.425-37.485c0.352-0.35,0.924-0.358,1.282-0.014l39.14,37.486c0.272,0.259,0.358,0.653,0.222,1.001
                C96.878,108.375,96.541,108.598,96.169,108.598z"/>
        </g>

        </g>
        </svg>
                    </a>

               <nav class="header__menu">

                    <input type="checkbox" class="menu__checkbox" id="menu-checkbox">

                    <label for="menu-checkbox" class="menu__toggler">☰</label>

                    <ul class="menu__list">

                        <li class="menu__item {{ 'menu__item--active' if page.fileSlug === '' }}"><a class="menu__link" href="/">O nás</a></li>
                        <li class="menu__item {{ 'menu__item--active' if page.fileSlug === 'co-delame' }}"><a class="menu__link" href="/co-delame/">Co děláme</a></li>
                        <li class="menu__item {{ 'menu__item--active' if page.fileSlug === 'realizace' }}"><a class="menu__link" href="/realizace/">Realizace</a></li>
                        <li class="menu__item--margin {{ 'menu__item--active' if page.fileSlug === 'kontakt' }}"><a class="menu__link" class="header__menu--margin" href="/kontakt/">Kontakt</a></li>

                </nav>

            </div>

        </header>

        {{ content | safe }}

        <footer class="footer {{ 'footer--background-color' if page.fileSlug === 'co-delame'}}">
            <div class="footer__inner">
                <a href="https://www.woodstav.cz/#!/" target="blank"> <img src="/images/woodstav-logo.png" class="footer__image" alt="footer__image"> </a>
                <p>Realizace staveb ve spolupráci s
                    WOODSTAV.CZ s.r.o.,	
                    Skuhrov nad Bělou<br>	
                    <a href="https://www.woodstav.cz/#!/" target="blank">www.woodstav.cz</a>	
                </p>
            </div>
        </footer>


    </main>    

<script src="/js/fslightbox.js"></script>

</body>
</html> 