@use '../helpers/variables';

.container-boxes {
  margin: 30px;
}

.container-boxes__item {
    background-color: variables.$zelena;
    color: white;
    padding: 20px 30px;
    border-radius: 15px;
    box-shadow: grey 4px 6px 10px;
    margin-top: 30px;
} 


@media (min-width: 640px) {
    .container-boxes__inner {
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
    }
  
    .map {
      grid-row: 2 / 3;
    }
}

  @media (min-width: 900px) {
    .container-boxes {
      margin-left: 80px;
    }
    .container-boxes__inner {
        margin-top: 30px;  
        max-width: 1500px;
        margin-left: auto;
        margin-right: auto;
    }
}

  @media (min-width: 1200px) {
    .container-boxes__inner {
      display: grid;
      gap: 20px;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      margin-bottom: 60px;
    }
  }

