@use '../helpers/variables';


.container-boxes__item {
    background-color: variables.$zelena;
    color: white;
    padding: 20px 30px;
    margin: 20px;
    border-radius: 15px;
    box-shadow: grey 4px 6px 10px;
} 

@media (min-width: 640px) {
    .container-boxes__inner {
      display: flex;
      flex-wrap: wrap;
    }
  
    .container-boxes__item {
      flex: 1 1 40%;
    }
}

  @media (min-width: 900px) {
    .container-boxes__inner {
        margin-top: 30px;  
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
    }
}

  @media (min-width: 1200px) {
    .container-boxes__inner {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

