@use '../helpers/variables';

.header {
    background-color: variables.$zelena;
    border-bottom: 3px solid variables.$bezova;
}

.menu__checkbox {
    display: none;
}

.menu__toggler {
    color: white;
    margin-right: 30px;
}

.menu__list {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: variables.$zelena;
}

.menu__link {
    display: block;
    padding: 5px;
    text-decoration: none;
}

.menu__link:hover, .menu__link:focus {
    color: variables.$bezova;
    border-bottom: 1px solid variables.$bezova;
}

.menu__item--active .menu__link {
    color: variables.$bezova;
    font-size: 23px;
    border-bottom: 1px solid variables.$bezova;
}

.menu__checkbox:checked ~ .menu__list {
    display: block;
}

.menu__toggler {
    cursor: pointer;
    font-size: 30px;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-projectup {
    margin-left: 60px;
    margin-top: 15px;
}

@media (min-width: 640px) {
    .menu__toggler {
        display: none;
    }

    .menu__item--margin {
        margin-right: 30px;
    }

    .menu__list {
        display: flex;
    }

    .header__inner {
        justify-content: space-between;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 900px) {
    .menu__item--margin {
        margin-right: 0;
    }

    .header__inner {
        max-width: 1300px;
    }
    .logo-projectup {
        margin-left: 100px;
    }
}

.header h3 {
    font-size: 30px;
    color: white;
    margin-left: 40px;
}

.menu__link {
    text-decoration: none;
    color: white;
    margin: 15px;
    font-size: 18px;
}

/* hero section */ 

.hero--index {
    background-image: url(/images/Homepage-image.jpeg);
    color: white;
    min-height: 320px;
}

.hero--index__codelame {
    background-image: url(/images/codelame-hero2.jpeg);
    color: white;
    min-height: 320px;
    background-position: center center;
}

.hero--index__realizace {
    background-image: url(/images/codelame-hero.jpeg);
    color: white;
    min-height: 320px;
    background-position: center center;
}

.hero--codelame {
    background-image: url(/images/co-delame-image.jpeg);
    color: white;
    min-height: 320px;
}

.hero--realizace {
    background-image: url(/images/co-delame-image2.jpeg);
}

.hero--index h1, .hero--index__codelame h1, .hero--index__realizace h1 {
    margin:0;
    padding-top: 40px;
    font-size: 40px;
    text-align: right;
}

.highlight {
    font-weight: 700;
    font-size: 38px;
}

@media (min-width: 640px) {
    .hero--index h1 {
        margin-right: 60px;
    }
}

@media (min-width: 900px) {
    .hero--index h1 {
        margin: 0 30px 0 0;
    }

    .hero__inner {
        max-width: 1300px;
        margin-left: auto;
        margin-right: auto;
    }
}