@use '../helpers/variables';

.header {
    background-color: variables.$zelena;
    border-bottom: 3px solid variables.$bezova;
}

.menu__checkbox {
    display: none;
}

.menu__toggler {
    width: 30px;
    height: 30px;
    color: white;
}

.menu__list {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: variables.$zelena;
}

.menu__link {
    display: block;
    padding: 5px;
    text-decoration: none;
}

.menu__link:hover, .menu__link:focus, .menu__link:active {
    color: variables.$bezova;
    border-bottom: 1px solid variables.$bezova;
}

.menu__checkbox:checked ~ .menu__list {
    display: block;
}

.menu__toggler {
    cursor: pointer;
    font-size: 30px;
}

.header__inner {
    display: flex;
    align-items: center;
}

.logo-projectup {
    margin-left: 60px;
    margin-top: 15px;
}

@media (min-width: 700px) {
    .menu__toggler {
        display: none;
    }

    .menu__list {
        display: flex;
    }

    .header__inner {
        justify-content: space-between;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 900px) {
    .header__inner {
        max-width: 1400px;
    }
    .logo-projectup {
        margin-left: 150px;
    }
}

.header h3 {
    font-size: 30px;
    color: white;
    margin-left: 40px;
}

.header__menu a {
    text-decoration: none;
    color: white;
    margin: 15px;
    font-size: 18px;
}

.header__menu a:hover, .header__menu a:active {
    color: variables.$bezova;
    font-size: 22px;
}

.header__menu:last-child {
    margin-right: 60px;
}