.container {
    font-size: 15px;
    font-weight: 400;
    font-family: 'News Cycle', sans-serif;
}

.introduction__name {
    font-size: 20px;
}

@media (min-width: 780px) {
    .container {
        font-size: 18px;
    }

    .introduction__info {
        font-size: 20px;
    }

    .introduction__name {
        font-size: 28px;
    }

    .hero__name {
        font-size: 33px;
    }

    .hero__name span {
        font-size: 38px;
    }

    .header__menu a {
        font-size: 20px;
    }

    .introcution__slogan {
        font-size: 25px;
    }
}

// page - co delame

.container-boxes__item {
    text-align: center;
}

// page - realizace 

@media (min-width: 780px)  {
    .container-realizace__boxes h3 {
        font-size: 25px;
    }
}

// page - kontakt

@media (min-width: 780px) {
    .container-kontakt__inner {
        font-size: 20px;
    }

    .specific h3 {
        font-size: 25px;
    }

    .specific li {
        font-size: 18px;
    }
}